<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/lightgallery.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/action_styles.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script>
</head>
<body>
<div class="site_wrapper">
	<div class="header">
		<div class="header_top">
			<div class="logo">
				<a href="#">
					<img src="files/logo.svg" alt="">
				</a>
			</div>
			<div class="search_bock">
				<form action="">
					<input type="text" placeholder="Поиск по сайту">
					<button type="submit"></button>
				</form>
			</div>
			<div class="soc_block">
				<a href="">
					<img src="files/yb.svg" alt="">
				</a>
				<a href="">
					<img src="files/ins.svg" alt="">
				</a>
				<a href="">
					<img src="files/vk.svg" alt="">
				</a>
			</div>
			<div class="header_detal">
				<div class="time">Пн-Пт: 09 00 - 18 00</div>
				<div class="address">Атырау</div>
			</div>
			<div class="phone">
				<a href="tel:87474455537">8 (747) 445-55-37</a>
			</div>
			<div class="burger_pc">menu</div>
		</div>
		<div class="header_bottom">
			<div class="burger_pc">menu</div>
			<div class="menu_header">
				<ul>
					<li><a href="">О клинике</a></li>
					<li class="opened"><a href="">Услуги и цены</a></li>
					<li><a href="">Врачи</a></li>
					<li><a href="">Программы</a></li>
					<li class="sale"><a href=""><span>Акции</span></a></li>
					<li><a href="">Контакты</a></li>
				</ul>
			</div>
			<div class="btn btn_orange_border online_btn"><span>Online-консультации</span></div>
			<div class="btn btn_green2 make_btn">Запись на прием</div>
			<div class="phone">
				<a href="tel:87474455537">8 (747) 445-55-37</a>
			</div>
		</div>
	</div>
	<div class="content_block_wr">