include _header_inner.jade
<div class="content_page_wr">
    <div class="path_site">
        <a href="">Главная</a><span> / </span>Врачи
    </div>
    <h1>Наши акции</h1>
    <div class="content_body">
        <section class="first_block">
            <div class="first_block__item">
                <div class="first_block__item-before">Бесплатно</div>
                <div class="first_block__item-title">Прием педиатора - бесплатно!</div>
                <div class="first_block__item-text">
                    <span>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров.</span>
                </div>
                <div class="first_block__ad-form">
                    <form action="#">
                        <div class="form-field field">
                            <input type="text" name="phone" placeholder="+7 (___) ___-__-__">
                        </div>
                        <div class="form-field field">
                            <button class="btn btn_orange_icon">Записаться</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="first_block__item form">
                <div class="form_green">
                    <form action="">
                        <div class="title">Online-консультации</div>
                        <div class="label">СкИдка 50%</div>
                        <div class="field">
                            <input type="text" class="phone_input" placeholder="+7 (___) ___ - __ - __">
                        </div>
                        <label for="btnSign" class="btn btn_green_icon">
                            <input id="btnSign" type="submit" value="Записаться">
                        </label>
                    </form>
                </div>  
                <div class="first_block__item-img">
                    <img src="files/action_form_img.png" alt="action_first_bl_form-img">
                </div>
            </div>
        </section>

        <section class="second_block">
            <div class="second_block__item" style="background: url('files/action_item_bg.png') 50%/cover no-repeat;">
                <div class="second_block__item-left">
                    <div class="second_block__item-title">Заголовок акции заголовок еще</div>
                    <div class="second_block__item-date">
                        <span>с 21.11.2022 до 21.12.2022</span>
                    </div>
                    <div class="second_block__item-text">
                        <span>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</span>
                    </div>
                    <div class="second_block__item-form">
                        <form action="#">
                            <div class="form-field field phone_input">
                                <input type="text" name="phone" placeholder="+7 (___) ___-__-__">
                            </div>
                            <div class="form-field field">
                                <button class="btn btn_orange_icon">Записаться</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="second_block__item-right">
                    <div class="second_block__item-image">
                        <img src="files/action_item_mob.png" alt="action_item_mob">
                    </div>
                    <img src="files/action_free.png" alt="action_free">
                </div>
            </div>
            <div class="second_block__item" style="background: url('files/action_item_bg.png') 50%/cover no-repeat;">
                <div class="second_block__item-left">
                    <div class="second_block__item-title">Заголовок акции заголовок еще</div>
                    <div class="second_block__item-date">
                        <span>с 21.11.2022 до 21.12.2022</span>
                    </div>
                    <div class="second_block__item-text">
                        <span>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</span>
                    </div>
                    <div class="second_block__item-form">
                        <form action="#">
                            <div class="form-field field phone_input">
                                <input type="text" name="phone" placeholder="+7 (___) ___-__-__">
                            </div>
                            <div class="form-field field">
                                <button class="btn btn_orange_icon">Записаться</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="second_block__item-right">
                    <div class="second_block__item-image">
                        <img src="files/action_item_mob.png" alt="action_item_mob">
                    </div>
                    <img src="files/action_free.png" alt="action_free">
                </div>
            </div>
            <div class="second_block__item" style="background: url('files/action_item_bg.png') 50%/cover no-repeat;">
                <div class="second_block__item-left">
                    <div class="second_block__item-title">Заголовок акции заголовок еще</div>
                    <div class="second_block__item-date">
                        <span>с 21.11.2022 до 21.12.2022</span>
                    </div>
                    <div class="second_block__item-text">
                        <span>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</span>
                    </div>
                    <div class="second_block__item-form">
                        <form action="#">
                            <div class="form-field field phone_input">
                                <input type="text" name="phone" placeholder="+7 (___) ___-__-__">
                            </div>
                            <div class="form-field field">
                                <button class="btn btn_orange_icon">Записаться</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="second_block__item-right">
                    <div class="second_block__item-image">
                        <img src="files/action_item_mob.png" alt="action_item_mob">
                    </div>
                    <img src="files/action_free.png" alt="action_free">
                </div>
            </div>
            <div class="second_block__item" style="background: url('files/action_item_bg.png') 50%/cover no-repeat;">
                <div class="second_block__item-left">
                    <div class="second_block__item-title">Заголовок акции заголовок еще</div>
                    <div class="second_block__item-date">
                        <span>с 21.11.2022 до 21.12.2022</span>
                    </div>
                    <div class="second_block__item-text">
                        <span>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</span>
                    </div>
                    <div class="second_block__item-form">
                        <form action="#">
                            <div class="form-field field phone_input">
                                <input type="text" name="phone" placeholder="+7 (___) ___-__-__">
                            </div>
                            <div class="form-field field">
                                <button class="btn btn_orange_icon">Записаться</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="second_block__item-right">
                    <div class="second_block__item-image">
                        <img src="files/action_item_mob.png" alt="action_item_mob">
                    </div>
                    <img src="files/action_free.png" alt="action_free">
                </div>
            </div>
        </section>

        <section class="our_action">
            <div class="our_action__title title"><span>Наши акции</span></div>
            <div class="our_action__inner" style="background: url('files/our_action_bg.png') 0 0 repeat;">
                <div class="our_action__image">
                    <img src="files/our_action_mob_bg.png" alt="our_action_mob_bg">
                </div>
                <div class="our_action__body">
                    <div class="our_action__body-inner">
                        <div class="our_action__body-title"><span>Оставьте заявку</span></div>
                        <div class="our_action__text">
                            <span>Оставьте свой номер телефона, и наши менеджеры свяжутся с вами. Или позвоните нам на номер <b><a href="87474455537">8 (747) 445-55-37</a></b></span>
                        </div>
                        <div class="our_action__form">
                            <form action="#">
                                <div class="form-field field phone_input">
                                    <input type="text" name="phone" placeholder="+7 (___) ___-__-__">
                                </div>
                                <div class="form-field field">
                                    <button class="btn btn_orange_icon">Отправить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>	
include _footer.jade