include _header.jade
	<div class="content_page_wr">
		<div class="path_site">
			<a href="">Главная</a><span>/</span>Врачи
		</div>	
		<h1><span>Статьи</span></h1>
		<div class="content_main_row">
			<div class="categor_menu">
				<div class="menu_name">КАТЕГОРИИ СТАТЕЙ</div>
				<div class="categor_main">
					<div class="categor_main_in">
						<div class="select_categor"><span>Выберите категорию статей</span></div>
						<ul>
							<li><a href="">Общее оздоровление</a></li>
							<li><a href="">Отоларингология</a></li>
							<li><a href="">Ортопедия</a></li>
							<li><a href="">Правильное питание</a></li>
							<li><a href="">Витамины и микроэлементы</a></li>
							<li><a href="">Вирусные заболевания</a></li>
							<li><a href="">Советы молодым спортсменам</a></li>
							<li><a href="">COVID - 19</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="content_main">
				<div class="article_items">
					<div class="item">
						<div class="image">
							<img src="files/art.jpg" alt="">
						</div>
						<div class="name">Витамины и микроэлементы - какие пить и сколько?</div>
						<div class="bottom">
							<a href="" class="btn btn_orange_icon">Подробнее</a>
							<div class="date">15.12.2022</div>
						</div>
					</div>
					<div class="item">
						<div class="image">
							<img src="files/art.jpg" alt="">
						</div>
						<div class="name">Витамины и микроэлементы - какие пить и сколько?</div>
						<div class="bottom">
							<a href="" class="btn btn_orange_icon">Подробнее</a>
							<div class="date">15.12.2022</div>
						</div>
					</div>
					<div class="item">
						<div class="image">
							<img src="files/art.jpg" alt="">
						</div>
						<div class="name">Витамины и микроэлементы - какие пить и сколько?</div>
						<div class="bottom">
							<a href="" class="btn btn_orange_icon">Подробнее</a>
							<div class="date">15.12.2022</div>
						</div>
					</div>
					<div class="item">
						<div class="image">
							<img src="files/art.jpg" alt="">
						</div>
						<div class="name">Витамины и микроэлементы - какие пить и сколько?</div>
						<div class="bottom">
							<a href="" class="btn btn_orange_icon">Подробнее</a>
							<div class="date">15.12.2022</div>
						</div>
					</div>
					<div class="item">
						<div class="image">
							<img src="files/art.jpg" alt="">
						</div>
						<div class="name">Витамины и микроэлементы - какие пить и сколько?</div>
						<div class="bottom">
							<a href="" class="btn btn_orange_icon">Подробнее</a>
							<div class="date">15.12.2022</div>
						</div>
					</div>
					<div class="item">
						<div class="image">
							<img src="files/art.jpg" alt="">
						</div>
						<div class="name">Витамины и микроэлементы - какие пить и сколько?</div>
						<div class="bottom">
							<a href="" class="btn btn_orange_icon">Подробнее</a>
							<div class="date">15.12.2022</div>
						</div>
					</div>
					<div class="item">
						<div class="image">
							<img src="files/art.jpg" alt="">
						</div>
						<div class="name">Витамины и микроэлементы - какие пить и сколько?</div>
						<div class="bottom">
							<a href="" class="btn btn_orange_icon">Подробнее</a>
							<div class="date">15.12.2022</div>
						</div>
					</div>
					<div class="item">
						<div class="image">
							<img src="files/art.jpg" alt="">
						</div>
						<div class="name">Витамины и микроэлементы - какие пить и сколько?</div>
						<div class="bottom">
							<a href="" class="btn btn_orange_icon">Подробнее</a>
							<div class="date">15.12.2022</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="our_action_wr">
		<section class="our_action">
			<div class="our_action__title title"><span>Наши акции</span></div>
			<div class="our_action__inner" style="background: url('files/our_action_bg.png') 0 0 repeat;">
				<div class="our_action__image">
					<img src="files/our_action_mob_bg.png" alt="our_action_mob_bg">
				</div>
				<div class="our_action__body">
					<div class="our_action__body-inner">
						<div class="our_action__body-title"><span>Оставьте заявку</span></div>
						<div class="our_action__text">
							<span>Оставьте свой номер телефона, и наши менеджеры свяжутся с вами. Или позвоните нам на номер <b><a href="87474455537">8 (747) 445-55-37</a></b></span>
						</div>
						<div class="our_action__form">
							<form action="#">
								<div class="form-field field">
									<input type="text" class="phone_input" name="phone" placeholder="+7 (___) ___-__-__">
								</div>
								<div class="form-field field">
									<button class="btn btn_orange_icon">Отправить</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
include _footer.jade