include _header_inner.jade
	<div class="content_page_wr">
		<div class="path_site">
			<a href="">Главная</a><span>/</span>Врачи
		</div>
		<h1><span>Прогармма “Личный доктор”</span></h1>
		<section class="prog_detal_block">
			<div class="prog_detal_image">
				<img src="files/d_det.jpg" alt="">
			</div>
			<div class="prog_detal_item">
				<div class="prog_detal_text">
					<span>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров.</span>
				</div>
				<div class="first_block__ad-form">
					<form action="#">
						<div class="form-field field">
							<input type="text"  class="phone_input" name="phone" placeholder="+7 (___) ___-__-__">
						</div>
						<div class="form-field field">
							<button class="btn btn_orange_icon">Записаться</button>
						</div>
					</form>
				</div>
			</div>
			<div class="form_green">
				<form action="">
					<div class="title">Online-консультации</div>
					<div class="label">СкИдка 50%</div>
					<div class="field">
						<input type="text" class="phone_input" placeholder="+7 (___) ___ - __ - __">
					</div>
					<label for="btnSign" class="btn btn_green_icon">
						<input id="btnSign" type="submit" value="Записаться">
					</label>
				</form>
			</div>
		</section>
		<section class="list_items_wr">
			<div class="title"><span>Что входит в программу “Личный доктор”</span></div>
			<div class="inner">
				<ul>
					<li>Приобретая программу вы экономите до 50% на медецинском обслуживании</li>
					<li>Приобретая программу вы экономите до 50% на медецинском обслуживании</li>
					<li>Вы получаете личного доктора, который знает состояние здоровья вашего ребенка и находится постоянно с вами на связи.</li>
					<li>Вы получаете личного доктора, который знает состояние здоровья вашего ребенка и находится постоянно с вами на связи.</li>
					<li>Вы получаете скидку на дополнительные услуги клиники</li>
					<li>Вы получаете скидку на дополнительные услуги клиники</li>
					<li>Здоровье вашего ребенка будет находиться под наблюдением врачей круглый год</li>
					<li>Здоровье вашего ребенка будет находиться под наблюдением врачей круглый год. Здоровье вашего ребенка будет находиться под наблюдением врачей круглый год</li>
				</ul>
			</div>
		</section>
		<section class="consult_list">
			<div class="consult_list__title title">
				<span>Что входит в программу “Личный доктор”</span>
			</div>
			<div class="consult_list__inner">
				<div class="consult_list__list">
					<p>Детский аллерголог — это врач, который занимается диагностикой, лечением и профилактикой аллергических заболеваний у детей. Такие заболевания проявляют себя как отклонения нормальных реакций организма на инфекции и раздражители — аллергены. Наши специалисты подберут эффективное лечение. Кроме того, в клинике «Doc. Romanov» можно пройти аллергодиагностику — аллергокомплексы. Наши специалисты подберут эффективное лечение. Кроме того, в клинике «Doc. Romanov» можно пройти аллергодиагностику.</p>
					<p><strong>ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ</strong></p>
					<p>Наши специалисты подберут эффективное лечение. Кроме того, в клинике «Doc. Romanov» можно пройти аллергодиагностику.</p>
				</div>
				<div class="consult_list__form">
					<div class="consult_list__form-title">
						<span>ПРИЕМ - 6000 ₸</span>
					</div>
					<form action="#">
						<div class="form-field field">
							<input type="text" name="phone" placeholder="+7 (___) ___-__-__">
						</div>
						<div class="form-field field">
							<button class="btn btn_green_icon">Записаться</button>
						</div>
					</form>
				</div>
			</div>
		</section>
		<section class="licenses_sldier_wr">
			<div class="title"><span>Наши лицензии</span></div>
			<div class="licenses_slider">
				<a href="files/licenses.jpg" class="item">
					<img src="files/licenses.jpg" alt="">
				</a>
				<a href="files/licenses.jpg" class="item">
					<img src="files/licenses.jpg" alt="">
				</a>
				<a href="files/licenses.jpg" class="item">
					<img src="files/licenses.jpg" alt="">
				</a>
				<a href="files/licenses.jpg" class="item">
					<img src="files/licenses.jpg" alt="">
				</a>
				<a href="files/licenses.jpg" class="item">
					<img src="files/licenses.jpg" alt="">
				</a>
				<a href="files/licenses.jpg" class="item">
					<img src="files/licenses.jpg" alt="">
				</a>
				<a href="files/licenses.jpg" class="item">
					<img src="files/licenses.jpg" alt="">
				</a>
			</div>
		</section>
	</div>
	<div class="our_action_wr">
		<section class="our_action">
			<div class="our_action__title title"><span>Наши акции</span></div>
			<div class="our_action__inner" style="background: url('files/our_action_bg.png') 0 0 repeat;">
				<div class="our_action__image">
					<img src="files/our_action_mob_bg.png" alt="our_action_mob_bg">
				</div>
				<div class="our_action__body">
					<div class="our_action__body-inner">
						<div class="our_action__body-title"><span>Оставьте заявку</span></div>
						<div class="our_action__text">
							<span>Оставьте свой номер телефона, и наши менеджеры свяжутся с вами. Или позвоните нам на номер <b><a href="87474455537">8 (747) 445-55-37</a></b></span>
						</div>
						<div class="our_action__form">
							<form action="#">
								<div class="form-field field">
									<input type="text" class="phone_input" name="phone" placeholder="+7 (___) ___-__-__">
								</div>
								<div class="form-field field">
									<button class="btn btn_orange_icon">Отправить</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
include _footer.jade