include _header.jade
	<div class="content_page_wr">
		<div class="path_site">
			<a href="">Главная</a><span>/</span>Врачи
		</div>
		<h1><span>Медицинские услуги нашей клиники</span></h1>
		<div class="service_block">
			<div class="inner">
				<a href="#" class="item">
					<span class="image">
						<img src="files/s1.jpg" alt="">
					</span>
					<span class="btn btn_blue_border icon_border"><span>Прием педиатора</span></span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/s2.jpg" alt="">
					</span>
					<span class="btn btn_blue_border icon_border"><span>Лечебный массаж</span></span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/s3.jpg" alt="">
					</span>
					<span class="btn btn_blue_border icon_border"><span>Физиотерапия</span></span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/s4.jpg" alt="">
					</span>
					<span class="btn btn_blue_border icon_border"><span>УФО</span></span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/s1.jpg" alt="">
					</span>
					<span class="btn btn_blue_border icon_border"><span>УФО</span></span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/s1.jpg" alt="">
					</span>
					<span class="btn btn_blue_border icon_border"><span>Прием педиатора</span></span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/s1.jpg" alt="">
					</span>
					<span class="btn btn_blue_border icon_border"><span>Прием педиатора</span></span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/s1.jpg" alt="">
					</span>
					<span class="btn btn_blue_border icon_border"><span>Прием педиатора</span></span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/s1.jpg" alt="">
					</span>
					<span class="btn btn_blue_border icon_border"><span>Прием педиатора</span></span>
				</a>
				<a href="#" class="item">
					<span class="image">
						<img src="files/s1.jpg" alt="">
					</span>
					<span class="btn btn_blue_border icon_border"><span>Прием педиатора</span></span>
				</a>
			</div>
		</div>		
	</div>
	<div class="our_action_wr">
		<section class="our_action">
			<div class="our_action__title title"><span>Наши акции</span></div>
			<div class="our_action__inner" style="background: url('files/our_action_bg.png') 0 0 repeat;">
				<div class="our_action__image">
					<img src="files/our_action_mob_bg.png" alt="our_action_mob_bg">
				</div>
				<div class="our_action__body">
					<div class="our_action__body-inner">
						<div class="our_action__body-title"><span>Оставьте заявку</span></div>
						<div class="our_action__text">
							<span>Оставьте свой номер телефона, и наши менеджеры свяжутся с вами. Или позвоните нам на номер <b><a href="87474455537">8 (747) 445-55-37</a></b></span>
						</div>
						<div class="our_action__form">
							<form action="#">
								<div class="form-field field">
									<input type="text" class="phone_input" name="phone" placeholder="+7 (___) ___-__-__">
								</div>
								<div class="form-field field">
									<button class="btn btn_orange_icon">Отправить</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
include _footer.jade